<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h4>Sorular</h4>
      <hr>
      <table class="table table-sm">
        <thead class="bg-dark text-white">
          <th>Başlık</th>
          <th>Soru</th>
          <th>Sil ↓</th>
        </thead>
        <tbody>
          <tr *ngFor="let soru of eskiSorular">
            <td>{{soru.baslik}}</td>
            <td>{{soru.soru}}</td>
            <td>
              <button class="btn btn-danger btn-sm ms-2" (click)="Sil(soru)">Sil</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <div class="row mt-3">
      <div class="col-md-mt-6">
        <form [formGroup]="frm" (ngSubmit)="Kaydet()">
          <div class="card">
            <div class="card-header bg-dark text-white">
              <h4>Soru Ekle</h4>
            </div>
            <div class="card-body">
              <label>Başlık</label>
              <input type="text" class="form-control" formControlName="baslik">
              <label>Soru</label>
              <textarea class="form-control" rows="3" formControlName="soru"></textarea>
              <input type="checkbox" formControlName="tamam" class="form-check-input"> Tamamlandı
            </div>
            <div class="card-footer">
              <input type="submit" class="btn btn-success" value="Kaydet">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>